<h1> Testing Root </h1>

<h1>Net Calories: <%= Calory.calories_today - Exercise.calories_burned_today %></h1> <!-- minus Exercise.calories_burned_today -->

<%= link_to 'Exercises', exercises_path %>
<%= link_to 'Steps', steps_path %>
<%= link_to 'Calories Consumed', calories_path %>
<%= link_to 'Weight', weights_path %>
