<h1> Today's Summary </h1>

<h1>Net Calories: <%= net_cal = @calories_ate - @calories_burned %></h1>

<h1>
  <% net_cal = net_cal.to_f %>
  You have
  <% if net_cal > 0 %>
    gained <%= (net_cal/3500).round(2) %> pounds so far
  <% elsif net_cal < 0 %>
    lost <%= (-net_cal/3500).round(2) %> pounds so far
  <% else %>
    accomplished nothing
  <% end %>
</h1>

<h1>Most popular workout: <%= @most_popular %></h1>

<%= link_to 'Exercises', exercises_path %>
<%= link_to 'Steps', steps_path %>
<%= link_to 'Calories Consumed', calories_path %>
<%= link_to 'Weight', weights_path %>
